{{#paper-card as |card|}}
  {{detail-header text=model.name}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.subhead}}
        <p class="desc-line">Climate: {{model.climate}}</p>
        <p class="desc-line">Terrain: {{model.terrain}}</p>
        <p class="desc-line">Surface water: {{model.surface_water}}</p>
      {{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{paper-divider inset=true}}

  {{#if model.films}}
      {{link-to/films-bloc model=model.films title="Appears in"}}
  {{/if}}

  {{#if model.people}}
      {{link-to/characters-bloc model=model.people title="Residents"}}
  {{/if}}

{{/paper-card}}
