{{detail-header text=model.name}}

<div class="content-box align-left">
  <p>Gender: {{model.gender}}</p>
  <p>Age: {{model.age}}</p>
  <p>Eye color: {{model.eye_color}}</p>
  <p>Hair color: {{model.hair_color}}</p>
</div>
<br/>

{{#if model.films}}
  <div class="content-box align-left">
    <h2>Films</h2>
    {{#each model.films as |film|}}
      {{#link-to "film.detail" film.id}}
        <p>{{film.title}}</p>
      {{/link-to}}
    {{/each}}
  </div>
  <br/>
{{/if}}

{{#if model.locations}}
  <div class="content-box align-left">
    <h2>Locations</h2>
    {{#each model.locations as |location|}}
      {{#link-to "locations.location.detail" location.id}}
        <p>{{location.name}}</p>
      {{/link-to}}
    {{/each}}
  </div>
  <br/>
{{/if}}

{{#if model.vehicles}}
  <div class="content-box align-left">
    <h2>Vehicles</h2>
    {{#each model.vehicles as |vehicle|}}
      {{#link-to "vehicles.vehicle.detail" vehicle.id}}
        <p>{{vehicle.name}}</p>
      {{/link-to}}
    {{/each}}
  </div>
{{/if}}
