{{#paper-card as |card|}}
  {{detail-header text=model.name}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.subhead}}
        <p>Gender: {{model.gender}}</p>
        <p>Age: {{model.age}}</p>
        <p>Eye color: {{model.eye_color}}</p>
        <p>Hair color: {{model.hair_color}}</p>
      {{/text.subhead}}
    {{/title.text}}
  {{/card.title}}

  {{#if model.films}}
      {{link-to/films-bloc model=model.films title="Appears in"}}
  {{/if}}

  {{#if model.locations}}
      {{link-to/locations-bloc model=model.locations title="Locations"}}
  {{/if}}

  {{#if model.vehicles}}
      {{link-to/vehicles-bloc model=model.vehicles title="Drives"}}
  {{/if}}

{{/paper-card}}




