{{detail-header text=model.name}}

<div class="content-box align-left">
  <p>{{model.description}}</p>
  <p>Vehicle class: {{model.vehicle_class}}</p>
  <p>Length: {{model.length}}</p>

  <p>Film : </p>
  {{#link-to "film.detail" model.films.id}}
    {{model.films.title}}
  {{/link-to}}

  <p>Pilot : </p>
  {{#link-to "characters.character.detail" model.pilot.id}}
    {{model.pilot.name}}
  {{/link-to}}
</div>





