{{#paper-card as |card|}}
  {{detail-header text=model.title}}
  {{#if isSeen}}
    {{#paper-button raised=true fab=true class="markSeenBtn" onClick=(action "markSeen")}}Seen!{{/paper-button}}
  {{else}}
    {{#paper-button raised=true class="markSeenBtn unseen" onClick=(action "markSeen")}}Mark as seen{{/paper-button}}
  {{/if}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.subhead}}
        <p>{{model.description}}</p>
        {{paper-divider inset=true}}
        <p>Director: {{model.director}}</p>
        <p>Producer: {{model.producer}}</p>
        <p>Release date: {{model.release_date}}</p>
        <p>Rating: {{model.rt_score}}</p>
      {{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{paper-divider inset=true}}

  {{#if model.people}}
    {{link-to/characters-bloc model=model.people title="Characters"}}
  {{/if}}

  {{#if model.locations}}
      {{link-to/locations-bloc model=model.locations title="Locations"}}
  {{/if}}

  {{#if model.vehicles}}
      {{link-to/vehicles-bloc model=model.vehicles title="Vehicles"}}
  {{/if}}

{{/paper-card}}

{{#link-to "films" tagName="button" class="back md-button md-raised"}}Back to films{{/link-to}}