<p><strong>{{model.title}}</strong></p>
<p>{{model.description}}</p>
<p>{{model.director}}</p>
<p>{{model.producer}}</p>
<p>{{model.release_date}}</p>
<p>{{model.rt_score}}</p>
<br/>
<p><strong>Characters</strong></p>
{{#each model.people as |character|}}
  {{#link-to "characters.character.detail" character.id}}
    <p>{{character.name}}</p>
  {{/link-to}}
{{/each}}
<br/>
<p><strong>Locations</strong></p>
  {{#each model.locations as |location|}}
    {{#link-to "locations.location.detail" location.id}}
      <p>{{location.name}}</p>
    {{/link-to}}
  {{/each}}
<br/>
<p><strong>Vehicles</strong></p>
{{#each model.vehicles as |vehicle|}}
  {{#link-to "vehicles.vehicle.detail" vehicle.id}}
    <p>{{vehicle.name}}</p>
  {{/link-to}}
{{/each}}